.nav-princ {
  background-color: #fff;
  /* box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, .1); */
  display: block;
  padding: 1rem 3rem;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 15;
}

.nav-princ header {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between
} 

.nav-princ .title-menu a {
  color: #2058DE;
  font-weight: 700;
  /* line-height: -1; */
  text-decoration: none;
}


.nav-princ .title-menu span {
  font-weight: 500;
  line-height: inherit;
}

.nav-princ ul {
  /* background: #dedede; */
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-princ ul li {
  margin-bottom: 0;
  text-align: right;
}

.nav-princ ul li:last-child {
  text-align: left;
}

.nav-princ ul li a{
  color: #707070;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 1;
  cursor: pointer;
}

.nav-princ .menu-hamburguer {
  width: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: .3s;
  margin-right: 1.5rem;
}

.nav-princ .menu-hamburguer .traco {
  background-color: #3FBAFF;
  border-radius: 10px;
  height: 2px;
  margin: 4px 0;
  transition: 0.5s;
  width: 100%
}

.nav-princ .menu-hamburguer .traco-1,
.nav-princ .menu-hamburguer .traco-3 {
  -webkit-transform-origin: center right;
  transform-origin: center right
}

.nav-princ .menu-hamburguer .traco-1 {
  margin: 0 0 4px 0
}

.nav-princ .menu-hamburguer .traco-3 {
  margin: 4px 0 0 0
}

.nav-princ .menu-hamburguer:hover {
  cursor: pointer
}

.nav-princ .menu-hamburguer.ativo {
  position: relative;
  width: 1.875rem;
  z-index: 15
}

.nav-princ .menu-hamburguer.ativo .traco {
  background: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  height: 3px;
  margin: 3.75px 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  width: 100%
}

.nav-princ .menu-hamburguer.ativo .traco-1 {
  -webkit-transform: rotateZ(-45deg);
  transform: rotateZ(-45deg)
}

.nav-princ .menu-hamburguer.ativo .traco-2 {
  opacity: 0
}

.nav-princ .menu-hamburguer.ativo .traco-3 {
  -webkit-transform: rotateZ(45deg);
  transform: rotateZ(45deg)
}

@keyframes slideLeft {
  from {
    transform: translateX(-3000px);
  }

  to {
    transform: translateX(0px)
  }
}

.nav-princ .items-menu {
  animation: slideLeft .3s forwards;
  background-image: url("../../img/fundo-menu.png");
  background-size: cover;
  background-repeat: no-repeat;
  display: none;
  flex-direction: column;
  height: calc(100vh - 80px);
  left: 0;
  padding: 1.25rem .5rem 1rem 2.5rem;
  position: fixed;
  top: 80px;
  width: 100%;
  z-index: 10;
}

.nav-princ .items-menu *{
  font-size: 16px;
  font-style: italic;
  text-transform: initial;
}

.nav-princ .items-menu.ativo {
  display: flex;
  opacity: 1
}

.nav-princ .items-menu ul {
  flex-direction: column;
}

.nav-princ .items-menu ul li {
  margin-bottom: .5rem;
  text-align: left;
}

.nav-princ .items-menu ul li a{
  color: #0040D9;
}

.nav-princ .items-menu ul ul{
  padding-left: 1.5rem;
  margin-bottom: .75rem;
}

.nav-princ .items-menu ul ul li a{
  color: #fff;
}